<app-tool-bar-header></app-tool-bar-header>
<div class="todo">
    <div class="izq">
        <h1>Estás un <span>paso</span> más cerca para viajar a <span>Brasil</span></h1>
        <h3>Nuestro sistema organizo paquetes turísticos completos pensados en ti, puedes modificarlos como desees</h3>
    </div>

    <div class="der"> 
        <swiper-container class="mySwiper" effect="cards" grab-cursor="true"  autoplay-disable-on-interaction = "true"
        mousewheel="true"
        keyboard="true">
            <swiper-slide>Slide 1</swiper-slide>
            <swiper-slide>Slide 2</swiper-slide>
            <swiper-slide>Slide 3</swiper-slide>
            <swiper-slide>Slide 4</swiper-slide>
            <swiper-slide>Slide 5</swiper-slide>
            <swiper-slide>Slide 6</swiper-slide>
          </swiper-container>

    </div>

</div>
