.card-title {
    display: flex;
    justify-content: space-between;
  }
  
  .flag {
    margin-left: 10px; 
  }
  
  .scrollable-container {
    height: 400px; 
    overflow-y: auto; 
  }
  
  .country-list {
    padding: 10px;
  }