  
  <div class="scrollable-container">
    <mat-divider></mat-divider>
    <mat-form-field>
        <mat-label>País</mat-label>
        <mat-select #countrySelect>
            <mat-option *ngFor="let country of countries" [value]="country.cca2">
                {{ country.name }} {{ country.flag }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="redirectToCountry(countrySelect.value)">
        Ir al país seleccionado
    </button>
</div>


