@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.card-title {
    display: flex;
    justify-content: space-between;
  }
  
  .flag {
    margin-left: 10px; 
  }
  
  .scrollable-container {
    display: flex;
    flex-direction: column;
  }
  
  .country-list {
    padding: 10px;
  }