


    <mat-card-title>Buscar Aeropuerto</mat-card-title>
  <mat-card-content class="horizontal-content">
    <form (ngSubmit)="searchAirportsByCity()" class="example-form" novalidate #cityForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>{{ originalLabel }}</mat-label>
        <input matInput name="country" [(ngModel)]="keywordCity" placeholder="Ex. Bogota, Buenos Aires, Santiago de Chile">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!cityForm.valid">Buscar</button>
    </form>

    <form (ngSubmit)="searchAirports()" class="example-form" novalidate #airportForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>{{ originalLabelAirport }}</mat-label>
        <input matInput name="country" [(ngModel)]="keywordAirport" placeholder="Ex. el IATA code es un codigo de tres palabras">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!airportForm.valid">Buscar</button>
    </form>

    <div class="scrollable-container">
      <mat-divider></mat-divider>
      <mat-form-field>
          <mat-label>Estado/Provincia/Departamento/Distrito</mat-label>
          <mat-select #stateSelect>
              <mat-option *ngFor="let state of states" [value]="state">
                {{ state.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getStateISO2(stateSelect.value)">
          Ir al Estado/Provincia/Departamento/Distrito seleccionado
      </button>
      <div class="subtitulo">
        <span>{{ selectedStateName ? 'Buscar aeropuerto en: ' + selectedStateName : 'Selecciona en donde quieres buscar un aeropuerto' }}</span>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="getToken(selectedStateName, countyCode)">Buscar</button>
        </div>
      </div>
  </div>


      <div class="scrollable-container">
              <mat-divider></mat-divider>
              <div class="inputForm">
                <ng-container *ngIf="city && city.length > 0">
                  <mat-form-field>
                    <mat-label>Ciudad/Municipio</mat-label>
                    <mat-select #citySelect>
                        <mat-option *ngFor="let itBeACity of city" [value]="itBeACity">
                          {{ itBeACity.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button mat-raised-button color="primary" (click)="getCountryName(citySelect.value)">
                    Ir a la Ciudad/Municipio seleccionada
                </button>
        
              </ng-container>
                
              </div>
      </div>
  </mat-card-content>



<ng-container *ngIf="airportArray && airportArray.length > 0">
  <div class="scrollable-container">
    <mat-divider></mat-divider>
    <div class="country-list">
      <ng-container *ngFor="let airport of airportArray">
          <mat-card class="clickable-card" (click)="getInfoWithIataCode(airport.iataCode)">
              <mat-card-title class="card-title">
                  <span>{{ airport.name }}</span>
              </mat-card-title>
          </mat-card>
          <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
  </ng-container>

