.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card-title {
    display: flex;
    justify-content: space-between;
  }
  
  .flag {
    margin-left: 10px; 
  }
  
  .scrollable-container {
    height: 400px; 
    overflow-y: auto; 
  }
  
  .country-list {
    padding: 10px;
  }

  .horizontal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  .horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }

  .button-container {
    margin-top: 10px; 
  }
  