<div class="contenedor-principal">
  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 16 16"><path fill="currentColor" d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918l-.375 2.253l1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318l-.376-2.253l-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/></svg>
</div>

<div class="contenedor-cuerpo">
  <mat-card-title class="title">Buscar Aeropuerto</mat-card-title>
  <mat-card-content class="horizontal-content">
    <form (ngSubmit)="searchAirportsByCity()" class="example-form" novalidate #cityForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>{{ originalLabel }}</mat-label>
        <input matInput name="country" [(ngModel)]="keywordCity" placeholder="Ex. Bogota, Buenos Aires, Santiago de Chile">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!cityForm.valid">Buscar</button>
    </form>

    <form (ngSubmit)="searchAirports()" class="example-form" novalidate #airportForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>{{ originalLabelAirport }}</mat-label>
        <input matInput name="country" [(ngModel)]="keywordAirport" placeholder="Ex. el IATA code es un codigo de tres palabras">
      </mat-form-field>
      <button mat-stroked-button type="submit" [disabled]="!airportForm.valid">Buscar</button>
    </form>

    <div class="scrollable-container">
      <mat-divider></mat-divider>
      <mat-form-field>
          <mat-label>Estado Administrativo</mat-label>
          <mat-select #stateSelect>
              <mat-option *ngFor="let state of states" [value]="state">
                {{ state.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="getStateISO2(stateSelect.value)">
          Ir al Estado Administrativo seleccionado
      </button>
      <div class="subtitulo">
        <span>{{ selectedStateName ? 'Buscar aeropuerto en: ' + selectedStateName : 'Selecciona en donde quieres buscar un aeropuerto' }}</span>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="getToken(selectedStateName, countyCode)">Buscar</button>
        </div>
      </div>
  </div>


      <div class="scrollable-container">
              <mat-divider></mat-divider>
              <div class="inputForm">
                <ng-container *ngIf="city && city.length > 0">
                  <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <mat-select #citySelect>
                        <mat-option *ngFor="let itBeACity of city" [value]="itBeACity">
                          {{ itBeACity.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <button mat-raised-button color="primary" (click)="getCountryName(citySelect.value)">
                    Ir a la ciudad seleccionado
                </button>
                  
              </ng-container>
                
              </div>
      </div>
  </mat-card-content>


<ng-container *ngIf="airportArray && airportArray.length > 0">
  <div class="scrollable-container">
    <mat-divider></mat-divider>
    <div class="country-list">
      <ng-container *ngFor="let airport of airportArray">
          <mat-card class="clickable-card" (click)="getInfoWithIataCode(airport.iataCode)">
              <mat-card-title class="card-title">
                  <span>{{ airport.name }}</span>
              </mat-card-title>
          </mat-card>
          <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
  </ng-container>
</div>

