

<mat-toolbar class="header">
    <div class="contenedor-logo">
      <svg class="icono-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="M3.414 13.778L2 15.192l4.949 2.121l2.122 4.95l1.414-1.414l-.707-3.536L13.091 14l3.61 7.704l1.339-1.339l-1.19-10.123l2.828-2.829a2 2 0 1 0-2.828-2.828l-2.903 2.903L3.824 6.297L2.559 7.563l7.644 3.67l-3.253 3.253z"/></svg>
      <span>TicoCol Trips</span>
    </div>

    <div class="barra-navegacion">
      <input type="text" required="" placeholder="buscar">
      <label>
        <button class="btn-buscar" type="button" title="buscar">
          <svg class="icono-buscar" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5q0-1.875-1.312-3.187T9.5 5Q7.625 5 6.313 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14"/></svg>
        </button>
          <span style="transition-delay:0ms">B</span>
          <span style="transition-delay:50ms">u</span>
          <span style="transition-delay:100ms">s</span>
          <span style="transition-delay:150ms">c</span>
          <span style="transition-delay:200ms">a</span>
          <span style="transition-delay:250ms">r</span>
      </label>
    </div>

    <div class="contenedor-botones">
      <button class="btn-usuario" (click)="navigateToProfile()" type="button" title="pfp">
        <svg class="icono-usuario" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 256 256"><path fill="currentColor" d="M230.93 220a8 8 0 0 1-6.93 4H32a8 8 0 0 1-6.92-12c15.23-26.33 38.7-45.21 66.09-54.16a72 72 0 1 1 73.66 0c27.39 8.95 50.86 27.83 66.09 54.16a8 8 0 0 1 .01 8"/></svg>
      </button>
      <button class="btn-task" type="button" title="task">
        <svg class="icono-task" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="M7 1h10v2h4v11h-2V5h-2v2H7V5H5v16h6v2H3V3h4zm2 4h6V3H9zm14.657 11.586l-7.07 7.07l-4.243-4.242L13.758 18l2.828 2.828l5.657-5.656z"/></svg>
      </button>
    </div>


  </mat-toolbar>

