<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="flight-info">
    <span class="material-icons">flight_takeoff  </span>
    <span>{{ this.iataOrigin }}</span>
    <span class="material-icons">connecting_airports</span>
    <span>{{ this.iataDeparture }}</span>
    <span class="material-icons">flight_land</span>
  </div>

<app-get-airports [isEmbedded]="true" (iataCodeChange)="onIataCodeChange($event)"></app-get-airports>


<form (ngSubmit)="submitForm()" *ngIf="showForm" class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>Fecha de partida</mat-label>
      <input matInput type="date" name="date" [(ngModel)]="date" required placeholder="2024-04-03">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Número de adultos</mat-label>
      <input matInput type="number" name="numOfAdults" [(ngModel)]="numOfAdults" required placeholder="1">
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit">Enviar</button>
  </form>
  

  <ng-container *ngIf="vuelos && vuelos.length > 0">

      <mat-divider></mat-divider>
        <mat-card class="info-card">
          <mat-card-content>
            <div class="info-message">
              Se encontraron vuelos para el aeropuerto indicado.
            </div>
            <button mat-button color="primary" (click)="emitirArreglo()">Ver vuelos</button>
          </mat-card-content>
        </mat-card>
  </ng-container>
  