

.flight-info {
    display: flex;
    align-items: center;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .flight-info .material-icons {
    font-size: 48px;
    margin-right: 5px;
    flex-grow: 1; 
    padding: 0 90px; 
  }
  
  .flight-info span:nth-child(2),
  .flight-info span:nth-child(4) {
    flex-grow: 1;
  }

  .info-card {
    padding: 16px; 
  }
  
  .info-message {
    margin-bottom: 8px; 
  }